
/*------------tables design-----------------------------------------------*/
h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}
table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255,255,255,0.3);
}
.tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}


.tbl-content-smaller{
    height:100px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}
th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}
td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #d58c5a, #c4255d);
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 50px;
}

/*-----------------------------------------------------------------------------------------------*/
body {font-family: Arial, Helvetica, sans-serif;}

/*table, th, td {
    border: 1px solid black;
    padding: 12px;
}*/
table {
    border-spacing: 15px;
}

form {border: 1px solid #b1aea6;}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

}

/* Split the screen in half */
.splitLeft {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: auto;
    padding-top: 20px;
}
.splitRight {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: auto;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    /*background-color: #fb8d8c;*/
}

/* Control the right side */
.right {
    right: 0;
    background-color: #dbf5fa;
}

/* If you want the content centered horizontally and vertically */
.centeredRight {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 70%;

}
.centeredLeft {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;

}
/* Style the image inside the centered container, if needed */
.centered img {
    width: 150px;
    border-radius: 100%;
}

/*ADD FUNDS FORM CSS*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);




#addFundsForm input[type="text"], #addFundsForm input[type="email"], #addFundsForm input[type="tel"], #addFundsForm input[type="url"], #addFundsForm textarea, #addFundsForm button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#addFundsForm {
    background:#F9F9F9;
    padding:25px;
    margin:50px 0;
}
#amountMsgLabel{
    color: red;
}
#addFundsForm h3 {
    color: #F96;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}
#addFundsForm input[type="number"], #addFundsForm input[type="Amount"],
#addFundsForm input[type="date"], #addFundsForm input[type="date"], #addFundsForm textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
}


#addFundsForm button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#0CF;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}

#addFundsForm button[type="submit"]:hover {
    background:#09C;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#addFundsForm button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#addFundsForm input:focus, #addFundsForm textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
    color:#888;
}
:-moz-placeholder {
    color:#888;
}
::-moz-placeholder {
    color:#888;
}
:-ms-input-placeholder {
    color:#888;
}



