.root*{
    -fx-background-color: #e5b78f;
    -fx-text-fill: #000100;
    -fx-accent: #d49c6b;
    -fx-text-background-color: #000000;
}

.button {
    -fx-background-color: #e0c598;
    -fx-text-fill: #000100;
    -fx-border-color: #faede0;
    -fx-border-insets: 50%;
    -fx-font-family: Berlin Sans FB;
}
.RoundButton{

    -fx-text-fill: black;
    -fx-background-color: #e7c480;
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;

}
.RoundButton:hover{
    -fx-background-color : #b8a597;
    -fx-background-insets: 0%;
}
.RoundButton:pressed
{
    -fx-background-color : #e2af83
}

#SDMLable {
    -fx-font-size: 40;
    -fx-text-fill: #ea7272;
    -fx-font-family: Aharoni;
    -fx-font-weight: bolder;

}
.HeaderLabel{
    -fx-font-size: 24;
}
#ProductTileRectangle{
    -fx-fill : #efdac7;
}
.button:hover {
    -fx-background-color: #b8a597;
}

#PlaceOrderButton {
    -fx-font-size: 29;
}
#SalesLabel{
    -fx-font-size: 24;
}
#ChooseItemsLabel{
    -fx-font-size: 24;
}
#OrderSummeryLabel{
    -fx-font-size: 24;
}
#AddSaleLabel{
    -fx-font-size: 24;
}
#PlaceOrderLabel{
    -fx-font-size: 24;
}
#ShowMapButton {
    -fx-font-size: 14;
}

.button:pressed {
    -fx-background-color: #e2af83
}

.scroll-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #FFFFFF;

}

#ContinueButton {
    -fx-font-size: 14;
}

.combo-box {
    -fx-background-color: #ecd3a4;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #e7d8a7;
}

.date-picker > .text-field {
    -fx-background-color: #ead7ab;
}

.list-cell:even {
    -fx-background-color: #ecca88;
}

.list-cell:odd {
    -fx-background-color: #f1e8d1;
}

.list-view .list-cell:filled:selected:focused, .list-view .list-cell:filled:selected {
    -fx-text-fill: #000100;
    -fx-background-color: #f5ddc0;
}

.list-view {
    -fx-background-color: #f5ddc0;
}

.table-view {
    -fx-background-color: #ecc7b3;
}

.table-row-cell:even {
    -fx-background-color: #f5ddc0;
}

.table-row-cell:odd {
    -fx-background-color: #f6ecdf;
}

.table-row-cell:selected .text {
    -fx-fill: #000100;
}

.table-row-cell:selected {
    -fx-background-color: #e8d2c1;
}

.scroll-pane > .viewport {
    -fx-background-color: #eeeadf;
}


.radio-button:selected .radio .dot {
    -fx-background-color: #eac178;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {

}

.label {
    -fx-text-fill: #000100;
}






